body{
  margin: 0;
  padding: 10px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: #20243a;
}

input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  border-radius: 2;
}

#input-el{
  background-color: rgb(215, 233, 250);
}
#input-el:hover{
  background-color: rgb(205, 227, 248);
}

#input-btn{
  /* background-color: #5f9341; */
  background-image: radial-gradient(#5f9341, green);
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(44, 44, 44), 0 0 5px rgb(44, 44, 44);
  border: none;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

button{
  background-color: #5f9341;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

ul{
  margin-top: 20px;
  list-style: none;
  margin-left: 0px;
  padding-left: 5px;
}

li{
  margin-top: 5px;
}

li a{
  color: rgb(235, 235, 243);
}
